<!-- <p>login works!</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad modi, animi quibusdam eaque magnam necessitatibus nisi tempora quo neque commodi suscipit sunt iste quos officiis sit. Obcaecati qui mollitia suscipit?

<div class="button btn btn-primary">click me</div> -->

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="div offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form>
                <div class="form-group pt-3">

                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
