<!-- 
<div class="body">
  <div class="header">
    <a href="#" class="logo"> <span> Al Rajhi Takaful</span></a>
    <ul class="nav-bar">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="main">
      <a href="#" class="user"> My Account</a>
      <a href="#"> </a>
      <div></div>
    </div>
  </div>
</div> -->
<!-- <div class="nav-bar"></div> -->

<!-- <img src="/assets/logo.png" class="logo" />  -->
